In [3]:
import pandas as pd

In [4]:
wind = pd.read_excel("OKWPL_DSM_2019_20.xlsx", sheet_name = "Deviation")
wind

,Date,Block,Date/Time,injection_mus,schedule_mus,UI in Rs,Unnamed: 6,Injected Power (MW),Schedule Power (MW),AvC,...,Expected amount (INR),Actual Amount (INR),DSM loss (INR),Shortfall (INR),Total amount to be paid back (INR),Difference in UI (INR),No.OF Week,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,2019-04-01,1,2019-04-01 00:00:00.000,0.031120,0.035160,13978.4,35616.000000,124.480,140.640,244,...,107675.20,107675.20,0.0,13978.40,13978.40,0.00,NaN,NaN,PPA rate(INR),3.46
1,2019-04-01,2,2019-04-01 00:15:00.000,0.030576,0.035628,17478.2,97.578082,122.304,142.512,244,...,105792.96,105792.96,0.0,17479.92,17479.92,1.72,NaN,NaN,NaN,NaN
2,2019-04-01,3,2019-04-01 00:30:00.000,0.030848,0.037275,22237.4,8904.000000,123.392,149.100,244,...,106734.08,106734.08,0.0,22237.42,22237.42,0.02,NaN,NaN,NaN,NaN
3,2019-04-01,4,2019-04-01 00:45:00.000,0.031184,0.038490,25278.8,371.000000,124.736,153.960,244,...,107896.64,107896.64,0.0,25278.76,25278.76,-0.04,NaN,NaN,NaN,NaN
4,2019-04-01,5,2019-04-01 01:00:00.000,0.037104,0.040375,11317.6,NaN,148.416,161.500,244,...,128379.84,128379.84,0.0,11317.66,11317.66,0.06,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35611,2020-04-05,92,2020-04-05 22:44:59.993,0.023600,0.017878,-19799.8,NaN,94.400,71.512,250,...,81656.00,81656.00,0.0,-19798.12,-19798.12,1.68,NaN,NaN,NaN,NaN
35612,2020-04-05,93,2020-04-05 22:59:59.993,0.026128,0.018163,-27560.6,NaN,104.512,72.652,250,...,90402.88,90402.88,0.0,-27558.90,-27558.90,1.70,NaN,NaN,NaN,NaN
35613,2020-04-05,94,2020-04-05 23:14:59.993,0.026560,0.018398,-28242.3,NaN,106.240,73.592,250,...,91897.60,91897.60,0.0,-28240.52,-28240.52,1.78,NaN,NaN,NaN,NaN
35614,2020-04-05,95,2020-04-05 23:29:59.993,0.025344,0.018663,-23118.0,NaN,101.376,74.652,250,...,87690.24,87690.24,0.0,-23116.26,-23116.26,1.74,NaN,NaN,NaN,NaN
35615,2020-04-05,96,2020-04-05 23:44:59.993,0.027264,0.018898,-28948.1,NaN,109.056,75.592,250,...,94333.44,94333.44,0.0,-28946.36,-28946.36,1.74,NaN,NaN,NaN,NaN

In [5]:
hourly_power_wind = wind["Injected Power (MW)"].groupby(wind.index//4).sum()
# taking sum of every 4 cummulative values
hourly_power_wind

0       494.912
1       660.992
2       731.008
3       728.320
4       731.584
         ...
8899    268.800
8900    201.984
8901     34.432
8902    336.768
8903    421.184
Name: Injected Power (MW), Length: 8904, dtype: float64

In [6]:
solar = pd.read_excel("Jodhpur_1MW_VC0_HourlyRes_With_MACRO.xlsx", sheet_name = "Jodhpur_1MW_VC0_HourlyRes_With_")
solar.head(25)

,date,time,EArray,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaT,(hourly),kW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-01-01,00:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990-01-01,01:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990-01-01,02:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-01-01,03:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1990-01-01,04:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1990-01-01,05:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1990-01-01,06:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1990-01-01,07:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1990-01-01,08:00:00,104.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1990-01-01,09:00:00,221.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1990-01-01,10:00:00,412.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1990-01-01,11:00:00,405.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1990-01-01,12:00:00,569.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1990-01-01,13:00:00,735.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1990-01-01,14:00:00,517.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1990-01-01,15:00:00,524.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1990-01-01,16:00:00,306.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1990-01-01,17:00:00,15.093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1990-01-01,18:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1990-01-01,19:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1990-01-01,20:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1990-01-01,21:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1990-01-01,22:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1990-01-01,23:00:00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
mask = solar["EArray"]
hourly_power_solar= mask[1:8761]
hourly_power_solar

1       0
2       0
3       0
4       0
5       0
       ..
8756    0
8757    0
8758    0
8759    0
8760    0
Name: EArray, Length: 8760, dtype: object

In [10]:
hourly_power_wind = hourly_power_wind[:8760]
hourly_power_wind

0       494.912
1       660.992
2       731.008
3       728.320
4       731.584
         ...
8755    109.696
8756    230.912
8757    258.816
8758    328.448
8759    254.208
Name: Injected Power (MW), Length: 8760, dtype: float64

In [11]:
hourly_power_wind.to_csv("wind_hourly.csv")

In [ ]:
mask = wind["Date/Time"]
date_time = mask[:8760]
date_time

In [ ]:
df = [hourly_power_wind, hourly_power_solar, date_time]
data = [date_time, hourly_power_wind, hourly_power_solar]
# df = pd.DataFrame(data, columns = ['Date & Time','Hourly Wind Production MW', 'Hourly Solar Production MW'])

In [ ]:
solar

In [ ]:
#different approach from here

In [ ]:
d1=pd.read_excel("OKWPL_DSM_2019_20.xlsx", index_col = "Date/Time")
# d1
d1.info()

In [ ]:
d2 = pd.read_excel("Jodhpur_1MW_VC0_HourlyRes_With_MACRO.xlsx", index_col = "date")
d2

In [ ]:
d1["Injected Power (MW)"]

In [ ]:
d2["EArray"]

In [ ]:
df = pd.DataFrame()
df['Hourly Wind MW'] = d1["Injected Power (MW)"]
df['Hourly Solar MW'] = d2["EArray"]